USE [master]
GO
/****** Object:  Database [GastadorDB]    Script Date: 09/06/2021 13:10:16 ******/
CREATE DATABASE [GastadorDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GastadorDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GastadorDB]
GO
/****** Object:  Table [dbo].[Financeiros]    Script Date: 09/06/2021 13:10:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Financeiros](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDFinanceiroTipo] [int] NOT NULL,
	[Nome] [nvarchar](50) NOT NULL,
	[Ativo] [bit] NOT NULL,
 CONSTRAINT [PK_CadFinanceiro] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FinanceiroTipos]    Script Date: 09/06/2021 13:10:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FinanceiroTipos](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CadFinanceiroTipo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MvFinanceiros]    Script Date: 09/06/2021 13:10:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MvFinanceiros](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDFinanceiro] [int] NOT NULL,
	[Pago] [nchar](1) NOT NULL,
	[Descricao] [nvarchar](200) NOT NULL,
	[DataVencimento] [date] NOT NULL,
	[DataConfirmacao] [date] NULL,
	[Valor] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_MvFinanceiro] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 09/06/2021 13:10:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](50) NOT NULL,
	[login] [varchar](50) NOT NULL,
	[Senha] [varchar](50) NOT NULL,
	[Ativo] [bit] NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Financeiros] ON 

INSERT [dbo].[Financeiros] ([ID], [IDFinanceiroTipo], [Nome], [Ativo]) VALUES (4, 2, N'cartão de credito', 1)
INSERT [dbo].[Financeiros] ([ID], [IDFinanceiroTipo], [Nome], [Ativo]) VALUES (6, 3, N'faculdade', 1)
INSERT [dbo].[Financeiros] ([ID], [IDFinanceiroTipo], [Nome], [Ativo]) VALUES (7, 1, N'SALARIO', 1)
SET IDENTITY_INSERT [dbo].[Financeiros] OFF
GO
SET IDENTITY_INSERT [dbo].[FinanceiroTipos] ON 

INSERT [dbo].[FinanceiroTipos] ([ID], [Nome]) VALUES (1, N'RECEITA')
INSERT [dbo].[FinanceiroTipos] ([ID], [Nome]) VALUES (2, N'DESPESA FIXA')
INSERT [dbo].[FinanceiroTipos] ([ID], [Nome]) VALUES (3, N'DESPESA VARIÁVEL')
SET IDENTITY_INSERT [dbo].[FinanceiroTipos] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([ID], [Nome], [login], [Senha], [Ativo]) VALUES (1, N'caio', N'caio', N'123123', 1)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
ALTER TABLE [dbo].[MvFinanceiros] ADD  CONSTRAINT [DF_MvFinanceiros_Pago]  DEFAULT ('N') FOR [Pago]
GO
ALTER TABLE [dbo].[Financeiros]  WITH CHECK ADD  CONSTRAINT [FK_CadFinanceiro_CadFinanceiroTipo] FOREIGN KEY([IDFinanceiroTipo])
REFERENCES [dbo].[FinanceiroTipos] ([ID])
GO
ALTER TABLE [dbo].[Financeiros] CHECK CONSTRAINT [FK_CadFinanceiro_CadFinanceiroTipo]
GO
ALTER TABLE [dbo].[MvFinanceiros]  WITH CHECK ADD  CONSTRAINT [FK_MvFinanceiro_CadFinanceiro] FOREIGN KEY([IDFinanceiro])
REFERENCES [dbo].[Financeiros] ([ID])
GO
ALTER TABLE [dbo].[MvFinanceiros] CHECK CONSTRAINT [FK_MvFinanceiro_CadFinanceiro]
GO
USE [master]
GO
